---
import { Content } from "@/components/shared";
---

<section class="section bg-gradient-dark">
  <Content>
    <div class="text-lunar-white flex flex-col gap-8">
      <h2 class="heading-section font-2">How it works</h2>
      <p class="subtitle max-w-3xl">
        Booking a bounce house in New Mexico shouldn't be harder than hosting
        the party. Here's how we keep it simple:
      </p>
    </div>
  </Content>
</section>
