---
import { Content } from "@/components/shared";
---

<section class="section bg-lunar-white">
  <Content>
    <div class="flex flex-col gap-8">
      <h2 class="heading-section font-2 text-lunar-primary">What we offer</h2>
      <p class="subtitle max-w-3xl">
        Everything you need to turn your backyard into the best party on the
        block. All clean. All fun. All handled by us.
      </p>
    </div>
  </Content>
</section>
