---
import { Content } from "@/components/shared";
---

<section class="section bg-gradient-light">
  <Content>
    <div class="flex flex-col gap-8">
      <h2 class="heading-section font-2 text-lunar-primary">
        Need a place to chill?
      </h2>
      <p class="subtitle max-w-3xl">
        We've got tables and chairs to complete your setup—because bouncing is
        only half the party.
      </p>
    </div>
  </Content>
</section>
