---

---

<section class="section bg-gradient-light">
  <div>
    <h2 class="heading-section text-lunar-primary font-2">
      Need a place to chill?
    </h2>
    <p class="subtitle">
      We've got tables and chairs to complete your setup—because bouncing is
      only half the party.
    </p>
  </div>
</section>
