---
import type { FaqType } from "@/types/faq";

export type FaqProps = {
  faq: FaqType;
  theme: "LIGHT" | "DARK";
};

const {
  faq: { question, answer },
  theme,
} = Astro.props as FaqProps;
---

<div class="max-w-4xl">
  <p
    class:list={[
      "heading-subsection font-2 mb-2",
      { "text-lunar-white": theme === "DARK" },
      { "text-lunar-primary": theme === "LIGHT" },
    ]}
  >
    {question}
  </p>
  <p
    class:list={[
      "body-copy",
      { "text-lunar-white-2": theme === "DARK" },
      { "text-black": theme === "LIGHT" },
    ]}
  >
    {answer}
  </p>
</div>
