@import "tailwindcss";
@import "./font-faces.css";
@import "./text-components.css";
@import "./color-components.css";

@theme {
  --font-heading: "Montserrat", "sans-serif";
  --font-body: "hind", "sans-serif";

  --font-weight-1: 400;
  --font-weight-2: 700;

  --color-lunar-primary: #191f41;
  --color-lunar-accent: #f30525;
  --color-lunar-white: #ffffff;
  --color-lunar-white-2: #e9e9e9;
}

@layer utilities {
  .section {
    @apply py-48;
  }
}
