---
import { Content } from "@/components/shared";
---

<section class="section bg-gradient-dark">
  <Content>
    <div class="text-lunar-white flex flex-col gap-8">
      <h2 class="heading-section font-2">Why we do it</h2>
      <p class="subtitle max-w-3xl">
        We're here to make parties easier, better, and way more fun. No stress.
        No hassle. Just clean, modern bounce house rentals in New
        Mexico—delivered on time and set up for you.
      </p>
    </div>
  </Content>
</section>
