---
// Components
import Layout from "../layouts/Layout.astro";
import {
  SubpageHeader,
  Faq,
  ContactSection,
  Content,
} from "@/components/shared";

// Data
import { faqs } from "@/data/faqs";
---

<Layout>
  <SubpageHeader>FAQs</SubpageHeader>
  <section class="section bg-lunar-white">
    <Content>
      <ul class="flex flex-col gap-[60px]">
        {
          faqs.map((faq) => {
            return (
              <li>
                <Faq theme="LIGHT" faq={faq} />
              </li>
            );
          })
        }
      </ul>
    </Content>
  </section>
  <ContactSection client:load />
</Layout>
