---
// Components
import Layout from "../layouts/Layout.astro";
import { SubpageHeader, Faq, ContactSection } from "@/components/shared";

// Data
import { faqs } from "@/data/faqs";
---

<Layout>
  <SubpageHeader>FAQs</SubpageHeader>
  <section class="section">
    <ul class="flex flex-col gap-[60px]">
      {
        faqs.map((faq) => {
          return (
            <li>
              <Faq variant="LIGHT" faq={faq} />
            </li>
          );
        })
      }
    </ul>
  </section>
  <ContactSection client:load />
</Layout>
