---
// Components
import { Content, LinkButton } from "@/components/shared";

const { className } = Astro.props as { className: string };
---

<section
  class={`bg-lunar-white py-auto relative h-[60vh] min-h-[500px] pt-[12vh] ${className}`}
>
  <Content>
    <div class="flex flex-col gap-8">
      <h1 class="heading-page">
        The Galaxy's <span class="italic">Best</span><br
          class="xs:block hidden"
        />
        <span class="font-2 text-lunar-primary">Bounce House Rentals</span>
      </h1>
      <p class="subtitle">
        Modern equipment. Friendly crew. Stress-free setup. <br
          class="hidden sm:block"
        />
        It's not rocket science—we just do it better
      </p>
      <LinkButton size="MD" className="self-start" href="/contact"
        >Let's Bounce</LinkButton
      >
    </div>
  </Content>
</section>
