---
import { Content, LinkButton } from "@/components/shared";
---

<section class="section bg-lunar-white">
  <Content>
    <div class="flex flex-col gap-8">
      <h1 class="heading-page">
        The Galaxy's <span class="italic">Best</span><br />
        <span class="font-2 text-lunar-primary">Bounce House Rentals</span>
      </h1>
      <p class="subtitle">
        Modern equipment. Friendly crew. Stress-free setup. <br />
        It's not rocket science—we just do it better
      </p>
      <LinkButton className="self-start" href="/contact"
        >Let's Bounce</LinkButton
      >
    </div>
  </Content>
</section>
