---
// Components
import { Content, LinkButton } from "@/components/shared";
import { BigProductCard } from "@/components/home";
import { ShapeDivider } from "@/components/decorative";
import { AnimateOnInView } from "@/components/decorative";
import { motion } from "motion/react";

// Images
import bounceHouse from "@/assets/images/products/bounce-house-1.jpg";

// Types
import type { ImageMetadata } from "astro";
export type Product = {
  name: string;
  description: string;
  color: string;
  href: string;
  src: ImageMetadata;
  alt: string;
};

// Data
const products: Product[] = [
  {
    name: "Castle Bounce House",
    description: "18' Bounce House",
    color: "#D2024A",
    href: "/services",
    src: bounceHouse,
    alt: "Wow big bouncehouse!",
  },
  {
    name: "Waterslide",
    description: "18' Waterslide",
    color: "#0182A7",
    href: "/services",
    src: bounceHouse,
    alt: "Wow big bouncehouse!",
  },
  {
    name: "Castle Bounce House",
    description: "18' Bounce House",
    color: "#C1A800",
    href: "/services",
    src: bounceHouse,
    alt: "Wow big bouncehouse!",
  },
];
---

<section class="section relative">
  <ShapeDivider className="z-20" />
  <Content>
    <div class="relative">
      <div class="text-lunar-white mb-16 flex flex-col gap-4 sm:mt-16">
        <h2 class="heading-section font-2">
          The best inflatables. <span class="underline underline-offset-[25%]"
            >Zero Hassle</span
          >.
        </h2>
        <p class="subtitle max-w-3xl">Clean, modern, and ready for fun.</p>
        <LinkButton
          size="MD"
          href="/services"
          color="LIGHT"
          variant="SECONDARY"
          className="mt-4 self-start"
          ariaLabel="View all Lunar Lifts party rental services"
          >View All Services</LinkButton
        >
      </div>
      <ul class="flex flex-col gap-16">
        {
          products.map((product, index) => (
            <AnimateOnInView isFirst={index === 0} client:load>
              <li
                class:list={[
                  "flex w-full pt-16",
                  { "sm:-rotate-3 sm:px-3": index === 0 },
                  { "sm:rotate-3 sm:px-4": index === 2 },
                  { "justify-end": index % 2 !== 0 },
                ]}
              >
                <BigProductCard product={product} />
              </li>
            </AnimateOnInView>
          ))
        }
      </ul>
    </div>
  </Content>
</section>
