---
import { Content } from "@/components/shared";
---

<section class="section bg-gradient-light">
  <Content>
    <div class="flex flex-col items-center gap-8 text-center">
      <h2 class="heading-section font-2 text-dark-1">Why choose Lunar Lifts</h2>
      <p class="subtitle text-dark-2 max-w-3xl">
        Basically, because we're the best.
      </p>
    </div>
  </Content>
</section>
