---
// Components
import { Content } from "@/components/shared";
import { Clock, Sparkles, MessageCircleHeart } from "lucide-react";

// Data
const benefits = [
  {
    Icon: Clock,
    text: ["On time.", "Every time."],
  },
  {
    Icon: Sparkles,
    text: ["Only fresh,", "clean inflatables."],
  },
  {
    Icon: MessageCircleHeart,
    text: ["Stress-free", "booking & support."],
  },
];

const { className } = Astro.props as { className: string };
---

<section class={`section bg-gradient-light ${className}`}>
  <Content>
    <div class="mb-24 flex flex-col items-center gap-8 text-center">
      <h2 class="heading-section font-2 text-lunar-primary">
        Why choose <br class="block sm:hidden" />Lunar Lifts?
      </h2>
      <p class="subtitle text-dark-2 max-w-3xl">
        Basically, because we're the best.
      </p>
    </div>
    <ul
      class="grid grid-rows-3 items-center justify-center gap-24 md:grid-cols-3 md:grid-rows-1 md:flex-row md:gap-0"
    >
      {
        benefits.map((benefit, index) => (
          <li>
            <benefit.Icon className="mx-auto mb-8 size-32 stroke-[0.5] text-lunar-primary" />
            <p class="heading-subsection font-2 text-center">
              {benefit.text[0]} <br />
              {benefit.text[1]}
            </p>
          </li>
        ))
      }
    </ul>
  </Content>
</section>
