---
const { className } = Astro.props as { className: string };
---

<div class={`shape-divider-top ${className}`}>
  <svg
    data-name="Layer 1"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1200 120"
    preserveAspectRatio="none"
  >
    <path d="M1200 0L0 0 892.25 114.72 1200 0z" class="shape-fill"></path>
  </svg>
</div>

<style>
  .shape-divider-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    fill: white;
  }
</style>
