---
// Components
import { Header, Footer } from "@/components/shared";

// Styles
import "@/styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Lunar Lifts</title>
  </head>
  <body class="bg-black">
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    min-width: 320px;
  }
</style>
